<h1>CMS - Editor</h1>
<p><b>Bag Count:</b> <%= @bagcount %></p>
<p><b>News Feed:</b></p>
	<% @newsfeed.each do |news| %>
		<p><%= news["date"] %> | <%= news["title"] %> | <%= news["content"] %>
	<% end %>
<p><b>Meet Ups: </b></p>
	<% @meetup.each do |meets| %>
		<p><%= meets["date"] %> | <%= meets["title"] %> | <%= meets["time"] %> | <%= meets["location"] %>
	<% end %>
	
<p><b>Test </b></p>
	<% @p_test.each do |t_items| %>
		<p><%= t_items.split('/').last %></p>
	<% end %>

<!--Add new photo-->
<!--http://stackoverflow.com/questions/32257205/images-from-picasaweb-on-rails-->

<p><b>Private Password</b></p>
<p>USER: <%= @keydata["user"] %> </p>
<p>Password: <%= @keydata["password"] %></p>