<% @itemnum = 0 %>
<h1><%= @pagename %> List</h1>

<div><%= link_to("Back to Page Items",{controller:"c1_m2_s3", action:"edit"}) %></div>
<table class="table">
	<tr>
		<th>Date</th>
		<th>Title</th>
		<th></th>
	</tr>
	<% @items.each do |item| %>
		<% @itemnum = @itemnum + 1%>
		<tr>
			<td><%= item["date"] %></td>
			<td><%= item["title"] %></td>
			<td><button class="btn btn-default" data-toggle="modal" data-target="#editmodal-<%= @itemnum %>">Edit</button></td>
		</tr>
	<% end %>
	<tr>
		<td><button class="btn btn-default" data-toggle="modal" data-target="#addmodal">+ Add <%= @pagename%> item</button></td>
	</tr>
</table>

<% @itemnum = 0 %>
<% @items.each do |item| %>
	<% @itemnum = @itemnum + 1%>
	<!--Modals with Id -->
	<div class="modal fade" id="editmodal-<%= @itemnum %>" tabindex="-1" role="dialog" aria-labelledby="editmodal-<%= @itemnum %>" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="editmodal-<%= @itemnum %>">Edit <%= item["title"]%></h4>
			        </div>
				<div class="modal-body">
					TEST
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			        </div>
			</div>
		</div>
	</div>
<% end %>

<!--Modal for Add Pagename -->
<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="addmodal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="addmodal">Add <%= @pagename %></h4>
		        </div>
			<div class="modal-body">
				TEST
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
		        </div>
		</div>
	</div>
</div>
