<h1>Home#index</h1>

<div id="wrapper">
	<div id="inner">
		<div id="carousel">
			<%= image_tag("large/rat.jpg", class: 'carousel-img', alt: 'img1')%>
			<%= image_tag("large/toystory.jpg", class: 'carousel-img', alt: 'img2')%>
			<%= image_tag("large/up.jpg", class: 'carousel-img', alt: 'img3')%>
			<%= image_tag("large/walle.jpg", class: 'carousel-img', alt: 'img4')%>
			<%= image_tag("large/bugs.jpg", class: 'carousel-img', alt: 'img5')%>
		</div>
		<div id="pager"></div>
	</div>
</div>
