
<div id="wrapper">
	<div id="inner">
		<div id="carousel">
			<%= image_tag("large/img1.jpg", class: 'carousel-img', alt: 'img1', data:{ lrg_path: asset_path("large/img1.jpg"), sm_path: asset_path("small/img1.jpg")}) %>
			<%= image_tag("large/img2.jpg", class: 'carousel-img', alt: 'img2', data:{ lrg_path: asset_path("large/img2.jpg"), sm_path: asset_path("small/img2.jpg")}) %>
			<%= image_tag("large/img3.jpg", class: 'carousel-img', alt: 'img3', data:{ lrg_path: asset_path("large/img3.jpg"), sm_path: asset_path("small/img3.jpg")})%>
			<%= image_tag("large/img4.jpg", class: 'carousel-img', alt: 'img4', data:{ lrg_path: asset_path("large/img4.jpg"), sm_path: asset_path("small/img4.jpg")})%>
			<%= image_tag("large/img5.jpg", class: 'carousel-img', alt: 'img5', data:{ lrg_path: asset_path("large/img5.jpg"), sm_path: asset_path("small/img5.jpg")})%>
		</div>
		<div id="pager"></div>
	</div>
</div>
