<!-- Default Carousel -->
<div class="orb-carousel">
	<!--Preview Carousel -->
	<div id="thumbnail-preview-indicators" class="preview-carousel carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
				<div class="thumbnail">
					<%= image_tag( "large/img6.jpg", class: '', alt: 'img1') %>
				</div>
			</li>
			<li data-target="#thumbnail-preview-indicators" data-slide-to="1">
				<div class="thumbnail">
					<%= image_tag( "large/img7.jpg", class: '', alt: 'img2') %>
				</div>
			</li>
			<li data-target="#thumbnail-preview-indicators" data-slide-to="2">
				<div class="thumbnail">
					<%= image_tag( "large/img8.jpg", class: '', alt: 'img3') %>
				</div>
			</li>
			<li data-target="#thumbnail-preview-indicators" data-slide-to="3">
				<div class="thumbnail">
					<%= image_tag( "large/img9.jpg", class: '', alt: 'img4') %>
				</div>
			</li>
		</ol>
		
		<div class="carousel-inner">
			<div class="item slides active">
				<div class="slide-1"></div>
				<div class="container">
					<div class="carousel-caption">
						<!--<h1>New carousel layout</h1>
						<p>Responsive thumbnail preview in carousel indicators.</p>
						<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
					</div>
				</div>
			</div>
			<div class="item slides">
				<div class="slide-2"></div>
				<div class="container">
					<div class="carousel-caption">
						
					</div>
				</div>
			</div>
			<div class="item slides">
				<div class="slide-3"></div>
				<div class="container">
					<div class="carousel-caption">
					
					</div>
				</div>
			</div>
			<div class="item slides">
				<div class="slide-4"></div>
				<div class="container">
					<div class="carousel-caption">
					
					</div>
				</div>
			</div>
		</div>
		
		<a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	
		<hr class="transition-timer-carousel-progress-bar animate" />
	</div>
</div>
<div class="bg-count-wrapper">
	<div class="bg-count-text">Feeding Those In Need<br />1 Bag At A Time</div>
	<div class="bg-count-number"><%= @bagcount %> <span>bags</span></div>
</div>
<!--Center Cards -->
<div class="center-cards">
	<div class="col-md-4 orb-cards">
		<a href="/home/construction">
			<div class="card">
				<div class="card-back"><i class="fa fa-heartbeat fa-5x"></i></div>
				<div class="card-front">
					<h3>Our Mission</h3>
					<p>To Help Feed those in need.</p>
					
					<div class="more-links">More About Us <i class="fa fa-chevron-right"></i></div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-4 orb-cards">
		<a href="/home/construction">
			<div class="card">
				<div class="card-back"><i class="fa fa-users fa-5x"></i></div>
				<div class="card-front">
					<h3>How To Help</h3>
					<p>Donate or Volenteer</p>
					<div class="more-links">See How You Can Help <i class="fa fa-chevron-right"></i></div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-4 orb-cards">
		<a href="/home/construction">
			<div class="card">
				<div class="card-back"><i class="fa fa-newspaper-o fa-5x"></i></div>
				<div class="card-front">
					<h3>News</h3>
					<p><%= @newsitem["content"] %></p>
					<div class="more-links">More News <i class="fa fa-chevron-right"></i></div>
				</div>
			</div>
		</a>
	</div>
</div>

