<div class="personal-news">
    <div class="media-header"><span>News</span></div>
    
    <% @headlinedate = @newsfeed[0]["date"].split(/-/)  %>
    <div class="headline-news news-card col-sm-8">
        <div class="news-recent-photo"><%= image_tag( @albumlocation[0].split('/').last + "/" + @picturelocation[0].split('/').last ,class: 'news-photo-img', alt: 'news cover' ) %></div>
        <div class="news-title"><span><%= @newsfeed[0]["title"] %></span></div>
        <div class="news-date"><%= @headlinedate[1] %>.<%= @headlinedate[2]%>.<%= @headlinedate[0]%></div>
        <div class="news-content"><%= @newsfeed[0]["content"] %></div>
    </div>
    
    <% @itemnum = 0 %>
    <div class="col-sm-4">
        <% @newsfeed.each do |news| %>
            <% @newsdate = news["date"].split(/-/)  %>
            
            <% if @itemnum > 0 %>
                <div class="side-news news-card">
                    <div class="news-title"><span><%= news["title"] %></span></div>
                    <div class="news-date"><%= @newsdate[1] %>.<%= @newsdate[2]%>.<%= @newsdate[0]%></div>
                    <div class="news-content"><%= news["content"] %></div>
                </div>
            <% end %>
            
        <% @itemnum = @itemnum + 1 %>
        <% end %>
    </div>
</div>


