<div class="helpus-wrapper">
    <div class="media-header"><span>Help Us</span></div>
    
    <div class="row">
        <div class="col-sm-7">
            <div class="helpus-cover"><%= image_tag( "pageimages/a0.jpg", class: '', alt: 'Help Us Image') %></div>
            <div class="helpus-cover-txt">
                <div class="helpus-title">Make Change Today</div>
                <div class="helpus-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-1 class donate-card">
            <div>Donate</div>
        </div>
    </div>
    
    <div class="row helpus-cards">
        <div class="col-sm-4 helpus-card">
            <div class="helpus-card-cover"><%= image_tag( "pageimages/a1.jpg", class: '', alt: 'Volenteer Image') %></div>
            <div class="helpus-card-txt">
                <div class="helpus-card-title">Volenteer</div>
                <div class="helpus-card-content">
                   <span>Become a part of our team and help to impact the lives of others.  View our calender of events to see when you can help next or email 1ReddBag@gmail.com to see other ways to help us.</span>
                   
                   <%=  @full_clndr.view %>
                   <div class="event-list">
                       <div class="event-title">Calender Events</div>
                       <table>
                           <tbody id="event-content"></tbody>
                       </table>
                   </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 helpus-card">
            <div class="helpus-card-cover"><%= image_tag( "pageimages/a2.jpg", class: '', alt: 'Volenteer Image') %></div>
            <div class="helpus-card-txt">
                <div class="helpus-card-title">Join Our Email List</div>
                <div class="helpus-card-content">Get added to our email list to receive information about our walks as well as updates about our mission. </div>
            </div>
        </div>
        <div class="col-sm-4 helpus-card">
            <div class="helpus-card-cover"><%= image_tag( "pageimages/a3.jpg", class: '', alt: 'Volenteer Image') %></div>
            <div class="helpus-card-txt">
                <div class="helpus-card-title">Become A Sponsor</div>
                <div class="helpus-card-content">Joining our sponsorship team helps us to not only build our brand but work with other companies to positively impact the community.  View the ways that you can be added to our sponsorship team. </div>
            </div>
        </div>
    </div>
</div>