<div class="col-md-4 media-video">
    <div class="media-header"><span>Videos</span></div>
    <div class="video-wrapper">
        <iframe class="video-cover" type="text/html" src="https://www.youtube.com/embed/raoNTII7JGM"></iframe>
        <div class="video-title">An Initiative To Feed The Homeless</div>
    </div>
    
</div>

<div class="col-md-8 media-images">
     <div class="media-header"><span>Photos</span></div>
    <% @albums.each do |album| %>
        <!--Get All photos from album -->
        <% 
		    @photolocation = Dir.glob(album + "/*")
          	@photos = []
          	
          	@photolocation.each do |photo|
          		@photos << photo
          	end
		%>
        <a class="photo-section-link col-md-4" data-toggle="modal" data-target="#Modal-<%= album.split('/').last %>">
            <div class="photo-cover">
                <div><i class="fa fa-picture-o"></i> <%= album.split('/').last %> <p>(<%= @photos.count %>)</p></div>
            </div>
        </a>
        
        
	    
	    <div id="Modal-<%= album.split('/').last %>" class="modal modal-wide fade" role="dialog">
            <div class="modal-dialog">
            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><%= album.split('/').last %></h4>
                    </div>
                    <div class="modal-body">
                    	<!--Each Photo-->
                    	<% @photos.each do |photo| %>
                    	    <div class="col-md-4">
                    	        <%= image_tag( album.split('/').last + "/" + photo.split('/').last , class: 'media-photo', alt: photo.split('/').last ) %>
                    	    </div>
                        <% end %>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            
            </div>
        </div>
	<% end %>
    
</div>
